<div class="container-fluid">
<p id="notice"><%= notice %></p>
<div id="all-resources">
<div class="row">
    <div class="col-md-4">
      <input type="text" class="fuzzy-search form-control" placeholder="Search Resources" /><br>
       <%= render 'filters' %>
    </div><!--/col-md-4-->
    
    <div class="col-md-8">
          <h1>Tech Comm Resources</h1>
 Page: <ul class="pagination"></ul> <p class="counter"></p>

         <div class="running"># of Entries matching criteria ( <p id="running-total"></p> )</div>
       
          <div id="entries"><%= render 'entries' %>
</div>
     
    </div>
  </div><!--/row-->
</div><!--/container-->
</div><!--/test-list-->

<script type = "text/javascript">
$(function () {
  $('input[type=checkbox]').change(function(){
  $.get($('.entries_search').attr('action'),
  $('.entries_search').serialize(), null, 'script');
  return false;

});

  $('.entries_search').submit(function () {
    $.get(this.action, $(this).serialize(), null, 'script');
    return false;
  });
});
</script> 

