	<div class="hero">
		<div class="tagline">
			<div class="tagline-container">
			<h1>Explore. Share. Create.</h1>
			<h2>The UNT tech comm repository is a digital space for instructors of technical communication to share their valuable knowledge and resources. The repository allows you to easily filter and search for a project, assignment, syllabus, presentation slides, activity, or approach to teaching that are unique to technical communication.</h2>

			<div class="landing-links">
				<%= link_to "Register", new_user_registration_path, class: 'btn-landing' %>
				<%= link_to "Sign in", new_user_session_path, class: 'btn-landing-reverse' %>

			</div><!--/landing links-->
			<div class="explore">
			or <%= link_to "Explore the Repository!", entries_path %>
		</div>
		</div><!--/tagline-container-->
		</div><!--/tagline-->

		<div class="hero-image-right">

			<div class="hero-overlay">
				
			</div><!--/hero-overlay-->
		</div><!--/hero-image-right-->
	</div><!--/hero-->
