/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
/* ==========Typography ========== */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Cantarell:400,700');

p, li, label {
	font-family: 'Cantarell', sans-serif;
	font-size: 1rem;
}
a {
	color: #7AAE58;
}
a:hover {
	background: none !important;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2.5rem;
}
h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2rem;
}
h3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.75rem;
}
h4 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.5rem;
}

.btn-primary {
	background: #8EC05F;
	color: white !important;
	border: none !important;

}
.btn-primary:hover {
	border: 1px solid #8DC05F !important;
	color: gray !important;
}
.btn-danger, .btn-danger:visited {
	color: white;
}
.btn-danger:hover {
	color: red;
}
header .btn-primary:hover {
	color: white !important;
}
.btn-reverse {
	border: 2px solid #8EC05F;
	color: white;
	padding: 5px 12px 10px 12px;
	border-radius: 5px;
}
body {
	background: #F1F1F2;
	color: #494D5E;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
	background: #00944E;
	padding: 10px;
}

nav.signed-in {
	align-self: flex-end;
	margin-right: 10px;

}

nav ul {
	list-style-type: none;
}
nav li, nav a {
	display: inline;
	margin-right: 30px;
	color: white;
	font-size: 1.35rem !important;
}
nav a, nav a:visited, .logo a, .logo a:visited {
	color: white;

}
li.signed-in-text, .signed-in-text a {
	color: white;
	font-size: .8rem !important;
	text-align: right;
}
.bottom-nav {
	text-align:right;
	margin-right: 10px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle {
	position: relative;
	border: 1px solid white;
	width: 100px;
	height: 100px;
	margin-left: 40px;
	display:flex;
justify-content:center;
align-items:center;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 1rem;
	font-family: 'Fjalla One';
	font-size: 1.3rem;

}
.logo h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.3rem;
	position: absolute;
	text-align: center;
	padding:2px;

}
.logo ul{
	list-style-type: none;
	color: white;
	margin-left: -35px;

}
.logo li {
	font-size: .9rem;
}
/* ==========PORTAL PAGE STYLES ========== */
.portal {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bottom-border {
	border-bottom: 3px solid gray;
	padding-bottom: 20px;
	margin-top: 20px;
	width: 100px;
	margin: 0 auto;
	margin-bottom:20px;

}
.top-portal-section {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid gray;
	padding-top: 50px;
	padding-bottom: 50px;
}
.add {
	width: 30%;
}
.add .fa-plus-square {
	font-size: 5rem;
}
.course {
	width: 100%;
	text-align: center;
}
.all-courses {
	border: 1px solid gray;
	height: 200px;
	text-align:center;
	padding:10px;
}
.course-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
}	
.course-box {
	width: 250px;
	height: 150px;
	border: 1px solid gray;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 20px 20px 0;
}
.topic .course-box {
	justify-content: center !important;
}
#hover-area {
  margin: 0 auto;
  display: block;
  cursor: pointer;
	
}
#reveal {
	width: 100%;
	display: none;
	
}
a:hover {
	color: gray;
	background: gray;
}
/* ==========LANDING PAGE STYLES ========== */

.hero {
	display: flex;
	background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
	background-color: whitesmoke;
	padding-bottom: 20px;
	padding-top: 50px;
}
.tagline {
	flex: 1;
	height: 600px;
}
.tagline-container {
	width: 85%; 
	margin: 0 auto;
	min-height: 500px;
	display: flex;
	flex-direction: column;
justify-content: space-between;
}
.tagline h1 {
	font-family: 'Fjalla One', serif;
	font-size: 3rem;
	font-weight: 700;
	color: #7C9885;
}
.tagline h2 {
	font-family: 'Cantarell', sans-serif;
	font-size: 1.15rem;
	color: #283F3B;
	font-weight: normal;

}
.hero-overlay {
	height: 600px;
	background: rgba(141, 192, 95, 0.8);
	position: relative;
	
}
.hero-image-right {
	background: url('https://s3.us-east-2.amazonaws.com/unt-tc-repo/uploads/entry/attachment/9/rawpixel-660721-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 550px;
	flex: 1;
	padding-right: 50px;
	margin-right: 50px;
}
.landing-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;

}
.btn-landing {
	background: #98BE6A;
	color: white !important;
	padding: 10px;
	width: 150px !important;
	text-align: center;
	font-size: 1.5rem;
	border-radius: 5px;
	margin-right: 10px;
}
.btn-landing:hover {
	background: transparent;
	border: 2px solid #98BE6A;
	color: gray !important;
	text-decoration: none;
	 -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.btn-landing-reverse {
	background: transparent;
	border: 2px solid #98BE6A;
	color: gray;
	padding: 10px;
	width: 150px;
	margin-left: 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.5rem;
}
.btn-landing-reverse:hover {
	background: #98BE6A !important;
	color: white !important;
	text-decoration: none;
	 -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.explore {
	font-size: 1.5rem;
}
.explore a {
	color: #9FBD73;
}

.pagination .active {
	font-weight: bold;
	font-size: 1.4rem;
}
/* ==========DEVISE VIEWS ======== */
.form-container {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.form-flex {
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: center;
	align-items: center;
}
.form-flex h2 {
	text-align: center;
}
.form-container h2 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.field {
	margin-bottom: 20px;
	margin-top: 20px;
}
.form-container select {
	margin-bottom: 20px;
}
.form-container h4 {
	border-bottom: 1px solid #494C5D;
	margin-top: 20px;
}
/* ==========Entries Index ========== */
#entries, .main-content {
	background: white;
	border-radius: 5px;
	padding:10px;
	min-height: 400px;
margin-bottom: 50px;
}
#entries h1 {
	text-align: center;
}
.resource-box {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	padding: 20px;
}
.resource-box:nth-of-type(odd) {
background-color:#dddbdb;
}

.resource-box ul {
	list-style-type:none;
	margin-left: -35px;
}
.resource-box a {
	color: #6ab04c;
}
.running {
	display: flex;
}
#running-total {
	font-size: 1.4rem;
	font-weight: bold;
}
/* ==========Filters on Entries Index ========== */
#all-resources .fa-times-circle {
	font-size: 2.5rem;
	color: red;
}
.search-bar {
	display: flex;
	width: 100%;
}

.type-filter h3 {
	color: #484E5F;
	padding-bottom: 3px;
}
.type-filter label {
	cursor: pointer;
	color: #6ab04c;
}
.type-filter input {
	 display:none;
} 
.type-filter input:checked + span {
	background: #409155 !important;
	color: white;
	border: #409155;
}
.type-filter label {
	margin-top: 20px;
}
.type-filter span  {
	width: 150px;
	border: 1px solid gray;
	width: 150px;
	margin-right:10px;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 2.5px;
	
}
.type-filter span:hover {
	background: white;
	color: gray;
}

#filter1, #filter2, #filter3 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
}
.plus {
	border: 1px dotted #DEDDDF;
  width: 3px;
  height: 3px;
  background-color: black;
  box-sizing: border-box;
  transform: scale(11);
}
.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.filter-border {
	border-bottom: 1px solid #484E5F;
	margin-bottom: 10px;
}
#wrapper1, #wrapper2, #wrapper3 {
  overflow: hidden;
  transition: height 200ms;
}
.closed {
	visibility: hidden;
	height: 0;
}

i, #button1, #button2, #button3 {
	cursor: pointer;
}
.pagination li {
  display:inline-block;
  padding:5px;
}
.flex {
	display: flex;
	align-items: center;
}
.text {
	flex-grow: 2;
}
.circle-number {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background: #8DC05F;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin-right: 20px;
}

/* ==========Entries Show ========== */
.entry-description ul {
	list-style-type: none;
	margin-left: -20px;
}
.flex-column {
	display: flex;
	flex-direction: column;
	min-height: 250px;
}
.back {
	color: #7AAE58;
	
}
.top-section {
	margin-left: 20px;
}
p.contributor {
	font-size: .8rem;
}
.description {
	margin-left: 20px;
}
.description ul {
	list-style-type: circle !important;
	margin-left: 0px !important;
}
.description li {
	margin-bottom: 0px !important;
}
.show-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 300px;

}
.description h4 {
	margin-top: 10px;
}
.description a {
	text-decoration: underline;
}
.description a:visited {
	color: #85AD61 !important;
}
.likes {
	display: flex;
	padding-left: 30px;
}
/* =========footer============ */
.footer {
	height: 400px;
	background: #343334;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.footer ul {
	list-style-type: none;
	
}
.footer li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	color: #939293;
}
.footer p {
	color: #939293;
}
.contact-info {
	float: left;
}
.social-icons {
	float: right;	
}
.social-icons img {
	width: 32px;
}

.Site {display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* MY RESOURCES PAGE */
.myresources-container {
	width: 75%;
	margin: 0 auto;
	margin-top: 40px;
}
.myresources-container h1 {
	text-align: center;
}
.my-resource-box {
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	justify-content: center;
	align-items: center;
}
.single-box {
	width: 300px;
	height: 300px;
	border: 0.5px solid gray;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.bottom-links {
	display: flex;
	margin-bottom: 0;
	
}
.bottom {
	position: absolute;
	bottom: 10px;
}