<footer class="footer" role="contentinfo">

				<!-- copyright -->
				<p>
					Copyright UNT Department of Technical Communication
				</p>
				<p>Designed and built by <%=link_to "Chris Lam", 'http://chrislamdesign.com' %></p>
				<!-- /copyright -->
				<div class="contact-info">
					<ul>
						<li>940.565.4458</li>
						<li>tcoffice@unt.edu</li>
						<li>Denton, TX 76201</li>
					</ul>
				</div>
				<div class="social-icons">
					<ul>
						<li><i class="fab fa-facebook"></i></li>
						<li><i class="fab fa-twitter-square"></i></li>
						<li><i class="fab fa-linkedin"></i></li>
					</ul>
				</div>

			</footer>
			<!-- /footer -->
<!-- analytics -->
		<script>
		(function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
		(f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
		l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-XXXXXXXX-XX', 'yourdomain.com');
		ga('send', 'pageview');
		</script>
